.container {

    display:grid;
    grid-template-rows: 92vh 8vh 92vh repeat(2,92vh)  17vh repeat(3, 50vh) 30vh;
    grid-template-columns:[left-gap-start] minmax(6rem, 0.5fr)[left-gap-end full-start] repeat(8, minmax(min-content,16rem)[col-end]) [full-end right-gap-start] minmax(6rem, 0.5fr)[right-gap-end];
    background-color: $color-blue;

}

.niklas-container {

    display:grid;
    grid-template-rows: 92vh 8vh repeat(2,92vh) 15vh repeat(4,100vh)  30vh;
    grid-template-columns:[left-gap-start] 0.5fr [left-gap-end full-start] repeat(8, minmax(min-content,16rem)[col-end]) [full-end right-gap-start] 0.5fr [right-gap-end];
    background-color: $color-blue;

}

.qais-container {

    display:grid;
    grid-template-rows: 92vh 8vh repeat(2,92vh) 15vh repeat(6,71.5vh) 30vh;
    grid-template-columns:[left-gap-start] minmax(6rem, 0.5fr)[left-gap-end full-start] repeat(8, minmax(min-content,16rem)[col-end]) [full-end right-gap-start] minmax(6rem, 0.5fr)[right-gap-end];
    background-color: $color-blue;

}
