// Font family

$primary-font: lato;
$secondary-font: sans-serif;

// Colors

$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

// --- Colors - Main --- //

$color-blue-light:#A8D0E6;
$color-blue:#374785;
$color-blue-dark:#24305E;

$color-coral:#F77A7A;
$color-coral-light: #fee7e7;
$color-coral-dark: #de6161;

$color-cream:#F8E9A1;
$color-cream-light:#fdfae7;

$color-gold: #FFDB00;
$color-yellow: #F5BA2D;

$color-dark: #222831;
$color-light: #30475e;

// images

$ballon: url("img/ballon.jpg");
$flower: url("img/flower.jpg");
$parrot: url("img/parrot.png");
$logo: url("img/logo.png");
$culture: url("img/culture.jpg")
