.header {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 3fr 3fr 1fr;

    grid-row: 1 / 3;
    grid-column: 1 / 11;
    background-image: linear-gradient(80deg, rgba($color-blue-dark , .6) 50% , transparent 50%) , $ballon;
    clip-path: polygon(0% 0%, 100% 0% , 100% 92% , 20% 92% , 0% 65%);
    @include header-image-position;

    &__introduction{

        display:grid;
        grid-template-rows: 2 fr 2fr 1fr;
        grid-row: 1 / 4;
        grid-column: 1 / 2;

        &--title {

            grid-row: 1 / 2;
            align-self: end;
            justify-self: center;
            color: $color-coral;
            letter-spacing: 1rem;
            margin-bottom: 2rem;
            font-size:10rem;
            font-weight:400;

        }

        &--quote {

            display:grid;
            grid-template-columns: 1fr 8fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-row: 2 / 3;
            row-gap:1rem;
            align-self: center;
            color: $color-blue-light;
            word-spacing: 1rem;
            font-size:2rem;
            font-weight:400;
            position: relative;

            &-1 {

                justify-self: start;
                grid-area:1 / 2 / 2 / 3;
                margin-left: 2rem;

            }

            &-2 {

                justify-self: center;
                grid-area:2 / 2 / 3 / 3;

            }

            &-3 {

                justify-self: end;
                grid-row: 3 / 4;
                grid-column: 2 / 3;

            }

            &-4 {

                position:absolute;
                top:27.5rem;
                left:10rem;
                transform: rotateZ(34.5deg);

            }

        }

    }

}

.niklas-header {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 3fr 3fr 1fr;

    grid-row: 1 / 3;
    grid-column: 1 / 11;
    background-image: linear-gradient(80deg, rgba($color-yellow , .8) 50% , transparent 50%) , $parrot;
    background-position: center ;
    background-size: 100%;
    clip-path: polygon(0% 0%, 100% 0% , 100% 92% , 20% 92% , 0% 65%);

    &__introduction{

        display:grid;
        grid-template-rows: 2 fr 2fr 1fr;
        grid-row: 1 / 4;
        grid-column: 1 / 2;

        &--title {

            grid-row: 1 / 2;
            align-self: end;
            justify-self: center;
            color: $color-blue-dark;
            letter-spacing: 1rem;
            margin-bottom: 2rem;
            font-size:10rem;
            font-weight:400;

        }

        &--quote {

            display:grid;
            grid-template-columns: 1fr 8fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-row: 2 / 3;
            row-gap:1rem;
            align-self: center;
            color: $color-blue-dark;
            word-spacing: 1rem;
            font-size:2rem;
            position: relative;

            &-1 {

                margin-right: 34rem;
                justify-self: center;
                grid-area:1 / 2 / 2 / 3;

            }

            &-2 {


                margin-left: 24rem;
                justify-self: center;
                grid-area:2 / 2 / 3 / 3;
                margin-right:1rem;

            }

            &-3 {

                position:absolute;
                top:28rem;
                left:9rem;
                transform: rotateZ(34.5deg);

            }

        }

    }

}

.qais-header {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 3fr 3fr 1fr;

    grid-row: 1 / 3;
    grid-column: 1 / 11;
    background-image: linear-gradient(80deg, rgba($color-blue-light , .8) 50% , transparent 50%) , $flower;
    background-position: top ;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0% , 100% 92% , 20% 92% , 0% 65%);
    background-repeat: no-repeat;

    &__introduction{

        display:grid;
        grid-template-rows: 2 fr 2fr 1fr;
        grid-row: 1 / 4;
        grid-column: 1 / 2;

        &--title {

            grid-row: 1 / 2;
            align-self: end;
            justify-self: center;
            color: $color-blue-dark;
            letter-spacing: 1rem;
            margin-bottom: 2rem;
            font-size:10rem;
            font-weight:400;

        }

        &--quote {

            display:grid;
            grid-template-columns: 1fr 8fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-row: 2 / 3;
            row-gap:1rem;
            align-self: center;
            color: $color-blue-dark;
            word-spacing: 1rem;
            font-size:2rem;
            position: relative;

            &-1 {

                justify-self: start;
                grid-area:1 / 2 / 2 / 3;
                margin-left:2rem;

            }

            &-2 {

                justify-self: end;
                grid-area:2 / 2 / 3 / 3;
                margin-right:2rem;

            }

            &-3 {

                position:absolute;
                top:28rem;
                left:11rem;
                transform: rotateZ(34.5deg);

            }

        }

    }

}