.nav {

    height:100%;
    display:grid;
    grid-row: 2 / 3;
    grid-column: 1 / 11;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    z-index: 1000 ;
    align-items: center;
    position:sticky;
    top:0;
    background-color: $color-blue-dark;

    &__list {
        
        height:100%;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display:grid;
        grid-template-columns: minmax(1rem, 5rem) 2fr 10fr 1fr 1fr 1fr minmax(1rem, 5rem);
        column-gap:1rem;
        font-size: 2rem;

        &--logo {

            grid-column: 2 / 3;
            list-style: none;
            display:grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1rem;
            perspective: 2000px;

            &-img {

                height:5vh;
                grid-column: 1 / 2;
                justify-self: end;
                align-self: center;
                animation: logo-infinity linear infinite 2s;
                backface-visibility: hidden;

            }

            &-farbe {

                grid-column: 2 / 3;
                justify-self: start;
                align-self:center;
                color: $color-coral;
                font-size: 2.8rem;
                font-weight:400;
    
            }
        }

        &--rebecca {

            grid-column: 4 / 5;
            list-style: none;
            text-align: center ;
            align-self: center;
            justify-self: center;
            padding:1rem 4rem;
            background-image: linear-gradient(120deg ,$color-blue-dark 0, $color-blue-dark 50% , $color-coral 50%);
            background-size:240%;
            transition: background-position 0.4s cubic-bezier(.5,-0.02,.22,1.48) , transform 0.4s cubic-bezier(.5,-0.02,.22,1.48);
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

            &:hover {

                background-position: 100%;
                transform: translateX(-1rem);

            }

            &:hover .a-blue {

                color: $color-blue-dark;

            }
        
        }

        &--nikolas {

            grid-column: 6 / 7;
            text-align: center ;
            list-style: none;
            align-self: center;
            justify-self: center;
            padding:1rem 4rem;
            background-image: linear-gradient(120deg ,$color-blue-dark 0, $color-blue-dark 50% , $color-coral 50%);
            background-size:240%;
            transition: background-position 0.4s cubic-bezier(.5,-0.02,.22,1.48) , transform 0.4s cubic-bezier(.5,-0.02,.22,1.48);
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

            &:hover {

                background-position: 100%;
                transform: translateX(-1rem);
                
            }

            &:hover .a-blue {

                color: $color-blue-dark;

            }

        }

        &--qais {

            grid-row: 1 / 2 ;
            grid-column: 5 / 6 ;
            text-align: center ;
            list-style: none;
            align-self: center;
            justify-self: center;
            padding:1rem 4rem;
            background-image: linear-gradient(120deg ,$color-blue-dark 0, $color-blue-dark 50% , $color-coral 50%);
            background-size:240%;
            transition: background-position 0.4s cubic-bezier(.5,-0.02,.22,1.48) , transform 0.4s cubic-bezier(.5,-0.02,.22,1.48);
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

            &:hover {

                background-position: 100%;
                transform: translateX(-1rem);
                

            }

            &:hover .a-blue {

                color: $color-blue-dark;

            }

        }

    }

    .a-blue {

        display:inline-block;
        color:$color-coral;
        height:100%;
        width:100%;
        transition: all 0 ease;

    }

}

.niklas-nav {

    height:100%;
    display:grid;
    grid-row: 2 / 3;
    grid-column: 1 / 11;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    z-index: 1000 ;
    align-items: center;
    position:sticky;
    top:0;
    background-color: $color-blue-dark;

    &__list {
        
        height:100%;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display:grid;
        grid-template-columns: minmax(1rem, 5rem) 2fr 10fr 1fr 1fr 1fr minmax(1rem, 5rem);
        column-gap:1rem;
        font-size: 2rem;

        &--logo {

            grid-column: 2 / 3;
            list-style: none;
            display:grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1rem;
            perspective: 2000px;

            &-img {

                height:5vh;
                grid-column: 1 / 2;
                justify-self: end;
                align-self: center;
                animation: logo-infinity linear infinite 2s;
                backface-visibility: hidden;

            }

            &-farbe {

                grid-column: 2 / 3;
                justify-self: start;
                align-self:center;
                color: $color-yellow;
                font-size: 2.8rem;
                font-weight:400;
    
            }
            
        }

        &--rebecca {

            grid-column: 4 / 5;
            list-style: none;
            text-align: center ;
            align-self: center;
            justify-self: center;
            padding:1rem 4rem;
            background-image: linear-gradient(120deg ,$color-blue-dark 0, $color-blue-dark 50% , $color-yellow 50%);
            background-size:240%;
            transition: background-position 0.4s cubic-bezier(.5,-0.02,.22,1.48) , transform 0.4s cubic-bezier(.5,-0.02,.22,1.48);
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

            &:hover {

                background-position: 100%;
                transform: translateX(-1rem);

            }

            &:hover .a-blue {

                color: $color-blue-dark;

            }
        
        }

        &--nikolas {

            grid-column: 6 / 7;
            text-align: center ;
            list-style: none;
            align-self: center;
            justify-self: center;
            padding:1rem 4rem;
            background-image: linear-gradient(120deg ,$color-blue-dark 0, $color-blue-dark 50% , $color-yellow 50%);
            background-size:240%;
            transition: background-position 0.4s cubic-bezier(.5,-0.02,.22,1.48) , transform 0.4s cubic-bezier(.5,-0.02,.22,1.48);
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

            &:hover {

                background-position: 100%;
                transform: translateX(-1rem);
                color: $color-blue-dark;

            }

            &:hover .a-blue {

                color: $color-blue-dark;

            }

        }

        &--qais {

            grid-row: 1 / 2;
            grid-column: 5 / 6;
            text-align: center ;
            list-style: none;
            align-self: center;
            justify-self: center;
            padding:1rem 4rem;
            background-image: linear-gradient(120deg ,$color-blue-dark 0, $color-blue-dark 50% , $color-yellow 50%);
            background-size:240%;
            transition: background-position 0.4s cubic-bezier(.5,-0.02,.22,1.48) , transform 0.4s cubic-bezier(.5,-0.02,.22,1.48);
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

            &:hover {

                background-position: 100%;
                transform: translateX(-1rem);
                color: $color-blue-dark;

            }

            &:hover .a-blue {

                color: $color-blue-dark;

            }

        }

    }

    .a-blue {

        display:inline-block;
        color:$color-yellow;
        height:100%;
        width:100%;
        transition: all 0 ease;

    }

}

.qais-nav {

    height:100%;
    display:grid;
    grid-row: 2 / 3;
    grid-column: 1 / 11;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    z-index: 1000 ;
    align-items: center;
    position:sticky;
    top:0;
    background-color: $color-blue-dark;

    &__list {
        
        height:100%;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display:grid;
        grid-template-columns: minmax(1rem, 5rem) 2fr 10fr 1fr 1fr 1fr minmax(1rem, 5rem);
        column-gap:1rem;
        font-size: 2rem;

        &--logo {

            grid-column: 2 / 3;
            list-style: none;
            display:grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1rem;
            perspective: 2000px;

            &-img {

                height:5vh;
                grid-column: 1 / 2;
                justify-self: end;
                align-self: center;
                animation: logo-infinity linear infinite 2s;
                backface-visibility: hidden;

            }

            &-farbe {

                grid-column: 2 / 3;
                justify-self: start;
                align-self:center;
                color: $color-blue-light;
                font-size: 2.8rem;
                font-weight:400;

            }
            
        }

        &--rebecca {

            grid-column: 4 / 5;
            list-style: none;
            text-align: center ;
            align-self: center;
            justify-self: center;
            padding:1rem 4rem;
            background-image: linear-gradient(120deg ,$color-blue-dark 0, $color-blue-dark 50% , $color-blue-light 50%);
            background-size:240%;
            transition: background-position 0.4s cubic-bezier(.5,-0.02,.22,1.48) , transform 0.4s cubic-bezier(.5,-0.02,.22,1.48);
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

            &:hover {

                background-position: 100%;
                transform: translateX(-1rem);

            }

            &:hover .a-blue {

                color: $color-blue-dark;

            }
        
        }

        &--nikolas {

            grid-column: 6 / 7;
            text-align: center ;
            list-style: none;
            align-self: center;
            justify-self: center;
            padding:1rem 4rem;
            background-image: linear-gradient(120deg ,$color-blue-dark 0, $color-blue-dark 50% , $color-blue-light 50%);
            background-size:240%;
            transition: background-position 0.4s cubic-bezier(.5,-0.02,.22,1.48) , transform 0.4s cubic-bezier(.5,-0.02,.22,1.48);
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

            &:hover {

                background-position: 100%;
                transform: translateX(-1rem);

            }

            &:hover .a-blue {

                color: $color-blue-dark;

            }

        }

        &--qais {

            grid-row: 1 / 2;
            grid-column: 5 / 6;
            text-align: center ;
            list-style: none;
            align-self: center;
            justify-self: center;
            padding:1rem 4rem;
            background-image: linear-gradient(120deg ,$color-blue-dark 0, $color-blue-dark 50% , $color-blue-light 50%);
            background-size:240%;
            transition: background-position 0.4s cubic-bezier(.5,-0.02,.22,1.48) , transform 0.4s cubic-bezier(.5,-0.02,.22,1.48);
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

            &:hover {

                background-position: 100%;
                transform: translateX(-1rem);

            }

            &:hover .a-blue {

                color: $color-blue-dark;

            }

        }

    }

    .a-blue {

        display:inline-block;
        color:$color-blue-light;
        height:100%;
        width:100%;
        transition: all 0 ease;

    }

}




