.navigation {
   
    position:fixed;
    top:55%;
    right:-5rem;
    transform:translateY(-50%);
    z-index:5001;

    &__checkbox {

        display:none;

    }

    &__button {

        background-image: radial-gradient(circle,$color-blue 0%, $color-blue 50%, $color-blue 70%, $color-blue-dark 100%);
        height:9rem;
        width:9rem;
        border-radius: 50%;
        position:fixed;
        top:50%;
        right:0;
        z-index:10001;
        transform:translateY(-50%);
        -webkit-box-shadow: .3rem 0 3rem .5rem rgba(0,0,0,0.86);
        box-shadow: .2rem 0 3rem .2rem rgba(0,0,0,0.86);

            &:hover > * {

                transition: transform 0.4s cubic-bezier(.5,-0.02,.22,1.48);
                transform:translateX(2rem);
                background-color: $color-coral;

                    &:before,
                    &:after {
            
                        transform:translateX(2rem);
                        background-color: $color-coral;
            
                    }
                    
            }

    }

    &__icon{

        position: absolute;
        top:50%;
        left:-17%;

        &,
        &::before,
        &::after {

            height:2px;
            width:3rem;
            background-color: $color-coral;

            &:hover {

                background-color: $color-coral;
    
            }
    
        }

        &::before,
        &::after {

            content:"";
            display:inline-block;
            position: absolute;
            left:0;

        }

        &::before {

            top: -1rem;

        }

        &::after {

            top: 1rem;

        }

        
    }
    
    &__background-1 {

            width:10rem;
            height:10rem;
            background-image: radial-gradient(circle, $color-blue ,$color-coral);
            position: fixed;
            top:50%;
            right:0;
            border-radius: 50%;
            z-index:5002;
            opacity: 0;
            transform:translateY(-50%);
            backface-visibility: hidden;

    }

    &__background-2 {
    
            width:10rem;
            height:10rem;
            background-image: radial-gradient(rgba($color-coral,.8), rgba($color-coral,.8));
            position: fixed;
            top:50%;
            left:0;
            transform:translate(-1900% ,-50%);
            border-radius: 50%;
            z-index:5000;
            opacity:0;
            backface-visibility: hidden;
        
    }
        
    &__nav {

        position: fixed;
        height:60rem;
        width:60rem;
        top:50%;
        left: 120%;
        z-index: 5003;
        opacity:1;
        transform:translateY(-50%);

    }

    &__list {
        
        height:100%;
        width:100%;
        list-style:none;
        position:absolute;
        top:0;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;

    }

    &__item {

        margin:1rem;

    }

    &__link{ 

        &:link,
        &:visited {

            display:inline-block;
            font-size: 2rem;
            font-weight:400;
            color: $color-blue-dark;
            padding: 1rem 2rem;
            text-decoration:none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0% , transparent 50%, $color-blue-dark 50%); 
            background-size:230%;
            transition: all 0.4s cubic-bezier(.5,-0.02,.22,1.48);

        }

        &:hover,
        &:active {

            background-position:100%;
            color: $color-coral;
            transform: translateX(-3rem);

        }

    }

    &__checkbox:checked ~ &__background-1{

            transform:scale(6) translateY(-8.3%);
            opacity: 1;
            backface-visibility: hidden;
            transition:transform 0.6s cubic-bezier(.5,-0.02,.22,1.48);

        }

    &__checkbox:checked ~ &__background-2{

            transition:transform 0.6s cubic-bezier(.5,-0.02,.22,1.48);
            transform:scale(6) translate(-90% , -8.3%);
            opacity:1;
            backface-visibility: hidden;

    }

    &__checkbox:checked ~ &__nav {

            opacity:1;
            backface-visibility: hidden;
            transform:translate(-131.5%, -50%);
            transition:transform 0.6s cubic-bezier(.5,-0.02,.22,1.48) ;

    }

    &__checkbox:checked + &__button &__icon {

            transition: transform 0.4s cubic-bezier(.5,-0.02,.22,1.48);
            transform:translateX(2rem);
            background-color: $color-coral;

            &:before,
            &:after 
            
            {
    
                transform:translateX(2rem);
                background-color: $color-coral;
    
            }

    }

    &__checkbox:checked &__button {

        background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 60%, rgba(119,119,119,1) 100%);

    }

}





.niklas-navigation {
   
    position:fixed;
    top:55%;
    right:-5rem;
    transform:translateY(-50%);
    z-index:5001;

    &__checkbox {

        display:none;

    }

    &__button {

        background-image: radial-gradient(circle,$color-blue 0%, $color-blue 50%, $color-blue 70%, $color-blue-dark 100%);
        height:9rem;
        width:9rem;
        border-radius: 50%;
        position:fixed;
        top:50%;
        right:0;
        z-index:10001;
        transform:translateY(-50%);
        -webkit-box-shadow: .3rem 0 3rem .5rem rgba(0,0,0,0.86);
        box-shadow: .2rem 0 3rem .2rem rgba(0,0,0,0.86);

            &:hover > * {

                transition: transform 0.4s cubic-bezier(.5,-0.02,.22,1.48);
                transform:translateX(2rem);
                background-color: $color-yellow;

                    &:before,
                    &:after {
            
                        transform:translateX(2rem);
                        background-color: $color-yellow;
            
                    }
        
            }

    }

    &__icon
    
    {

        position: absolute;
        top:50%;
        left:-17%;

        &,
        &::before,
        &::after {

            height:2px;
            width:3rem;
            background-color: $color-yellow;

            &:hover {

                background-color: $color-yellow;
    
            }
    
        }

        &::before,
        &::after {

            content:"";
            display:inline-block;
            position: absolute;
            left:0;

        }

        &::before {

            top: -1rem;

        }

        &::after {

            top: 1rem;

        }

        
    }
    
    &__background-1 {

            width:10rem;
            height:10rem;
            background-image: radial-gradient(circle, $color-yellow ,$color-yellow);
            position: fixed;
            top:50%;
            right:0;
            border-radius: 50%;
            z-index:5002;
            opacity: 0;
            transform:translateY(-50%);
            backface-visibility: hidden;

    }

    &__background-2 {
    
            width:10rem;
            height:10rem;
            background-image: radial-gradient(rgba($color-yellow,.8), rgba($color-yellow,.8));
            position: fixed;
            top:50%;
            left:0;
            transform:translate(-1900% ,-50%);
            border-radius: 50%;
            z-index:5000;
            opacity:0;
            backface-visibility: hidden;
        
    }
        
    &__nav {

        position: fixed;
        height:60rem;
        width:60rem;
        top:50%;
        left: 120%;
        z-index: 5003;
        opacity:1;
        transform:translateY(-50%);

    }

    &__list {
        
        height:100%;
        width:100%;
        list-style:none;
        position:absolute;
        align-items: center;
        text-align: left;
        top:0;
        display:flex;
        flex-direction:column;
        justify-content: center;

    }

    &__item {

        margin:1rem;

    }

    &__link{ 

        &:link,
        &:visited {

            display:inline-block;
            font-size: 2rem;
            font-weight:400;
            color: $color-blue-dark;
            padding: 1rem 2rem;
            text-decoration:none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0% , transparent 50%, $color-blue-dark 50%); 
            background-size:230%;
            transition: all 0.4s cubic-bezier(.5,-0.02,.22,1.48);

        }

        &:hover,
        &:active {

            background-position:100%;
            color: $color-yellow;
            transform: translateX(-3rem);

        }

    }

    &__checkbox:checked ~ &__background-1{

            transform:scale(6) translateY(-8.3%);
            opacity: 1;
            backface-visibility: hidden;
            transition:transform 0.6s cubic-bezier(.5,-0.02,.22,1.48);

        }

    &__checkbox:checked ~ &__background-2{

            transition:transform 0.6s cubic-bezier(.5,-0.02,.22,1.48);
            transform:scale(6) translate(-90% , -8.3%);
            opacity:1;
            backface-visibility: hidden;

    }

    &__checkbox:checked ~ &__nav {

            opacity:1;
            backface-visibility: hidden;
            transform:translate(-131.5%, -50%);
            transition:transform 0.6s cubic-bezier(.5,-0.02,.22,1.48) ;

    }

    &__checkbox:checked + &__button &__icon {

            transition: transform 0.4s cubic-bezier(.5,-0.02,.22,1.48);
            transform:translateX(2rem);
            background-color: $color-yellow;

            &:before,
            &:after 
            
            {
    
                transform:translateX(2rem);
                background-color: $color-yellow;
    
            }

    }

    &__checkbox:checked &__button {

        background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 60%, rgba(119,119,119,1) 100%);

    }

}

.qais-navigation {
   
    position:fixed;
    top:55%;
    right:-5rem;
    transform:translateY(-50%);
    z-index:5001;

    &__checkbox {

        display:none;

    }

    &__button {

        background-image: radial-gradient(circle,$color-blue 0%, $color-blue 50%, $color-blue 70%, $color-blue-dark 100%);
        height:9rem;
        width:9rem;
        border-radius: 50%;
        position:fixed;
        top:50%;
        right:0;
        z-index:10001;
        transform:translateY(-50%);
        -webkit-box-shadow: .3rem 0 3rem .5rem rgba(0,0,0,0.86);
        box-shadow: .2rem 0 3rem .2rem rgba(0,0,0,0.86);

            &:hover > * {

                transition: transform 0.4s cubic-bezier(.5,-0.02,.22,1.48);
                transform:translateX(2rem);
                background-color: $color-blue-light;

                    &:before,
                    &:after {
            
                        transform:translateX(2rem);
                        background-color: $color-blue-light;
            
                    }
        
            }

    }

    &__icon
    
    {

        position: absolute;
        top:50%;
        left:-17%;

        &,
        &::before,
        &::after {

            height:2px;
            width:3rem;
            background-color: $color-blue-light;

            &:hover {

                background-color: $color-blue-light;
    
            }
    
        }

        &::before,
        &::after {

            content:"";
            display:inline-block;
            position: absolute;
            left:0;

        }

        &::before {

            top: -1rem;

        }

        &::after {

            top: 1rem;

        }

        
    }
    
    &__background-1 {

            width:10rem;
            height:10rem;
            background-image: radial-gradient(circle, $color-blue-light ,$color-blue-light);
            position: fixed;
            top:50%;
            right:0;
            border-radius: 50%;
            z-index:5002;
            opacity: 0;
            transform:translateY(-50%);
            backface-visibility: hidden;

    }

    &__background-2 {
    
            width:10rem;
            height:10rem;
            background-image: radial-gradient(rgba($color-blue-light,.8), rgba($color-blue-light,.8));
            position: fixed;
            top:50%;
            left:0;
            transform:translate(-1900% ,-50%);
            border-radius: 50%;
            z-index:5000;
            opacity:0;
            backface-visibility: hidden;

    }
        
    &__nav {

        position: fixed;
        height:60rem;
        width:60rem;
        top:50%;
        left: 120%;
        z-index: 5003;
        opacity:1;
        transform:translateY(-50%);

    }

    &__list {
        
        height:100%;
        width:100%;
        left: 11rem;
        list-style:none;
        position:absolute;
        top:0;
        display:flex;
        flex-direction:column;
        justify-content: center;

    }

    &__item {

        margin:1rem;

    }

    &__link{ 

        &:link,
        &:visited {

            display:inline-block;
            font-size: 2rem;
            font-weight:400;
            color: $color-blue-dark;
            padding: 1rem 2rem;
            text-decoration:none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0% , transparent 50%, $color-blue-dark 50%); 
            background-size:230%;
            transition: all 0.4s cubic-bezier(.5,-0.02,.22,1.48);

        }

        &:hover,
        &:active {

            background-position:100%;
            color: $color-blue-light;
            transform: translateX(-3rem);

        }

    }

    &__checkbox:checked ~ &__background-1{

            transform:scale(6) translateY(-8.3%);
            opacity: 1;
            backface-visibility: hidden;
            transition:transform 0.6s cubic-bezier(.5,-0.02,.22,1.48);

        }

    &__checkbox:checked ~ &__background-2{

            transition:transform 0.6s cubic-bezier(.5,-0.02,.22,1.48);
            transform:scale(6) translate(-90% , -8.3%);
            opacity:1;
            backface-visibility: hidden;

    }

    &__checkbox:checked ~ &__nav {

            opacity:1;
            backface-visibility: hidden;
            transform:translate(-131.5%, -50%);
            transition:transform 0.6s cubic-bezier(.5,-0.02,.22,1.48) ;

    }

    &__checkbox:checked + &__button &__icon {

            transition: transform 0.4s cubic-bezier(.5,-0.02,.22,1.48);
            transform:translateX(2rem);
            background-color: $color-blue-light;

            &:before,
            &:after 
            
            {
    
                transform:translateX(2rem);
                background-color: $color-blue-light;
    
            }

    }

    &__checkbox:checked &__button {

        background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 60%, rgba(119,119,119,1) 100%);

    }

}